<%- include('partials/head') %>
<%- include('partials/navbar') %>
<body>
   <main class="container">
    <div class="card">
      <div class="card-body">
        <h1 class="h2"><%= pergunta.title %></h1>
      </div>
      <div class="card-footer">
        <p><%= pergunta.descripiton %></p>
      </div>
    </div>
   </main>
   <%- include('partials/footer') %>
  </body>
</html>

